  swagger: "2.0"
  info:
    version: 0.0.0
    title: Gerenciamento de Veículos da Empresa
  host: azurewebsite.azureio.net
  basePath: /v1
  tags:
  - name: "carro"
    description: "Ações com o recurso carro"
  - name: "registro"
    description: "Ações com o recurso registro"
  - name: "cdc"
    description: "Ações com o recurso centro de custos"
  schemes:
    - https
  consumes:
    - application/json
  produces:
    - application/json
  paths:
    /carro/{id_carro}:
      get:
        summary: Retorna dados do recurso
        tags:
          - carro
        parameters:
          - name: id_carro
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Informações retornadas com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
          404:
            description: "Item não encontrado"
      post:
          summary: Cria um novo recurso
          tags:
            - carro
          parameters:
          - name: id_carro
            in: path
            required: true
            description: Id do recurso
            type: string
          responses:
            200:
              description: "Recurso criado com sucesso"
            400:
              description: "Problemas na requisição"
            401:
              description: "Acesso não autorizado"
      put:
        summary: Atualiza informações do recurso
        tags:
          - carro
        parameters:
          - name: id_carro
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Recurso atualizado com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
          404:
            description: "Item não encontrado"
      delete:
        summary: Deleta o recurso
        tags:
          - carro
        parameters:
          - name: id_carro
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Recurso deletado com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
          404:
            description: "Item não encontrado"
    /carro/list/:
      get:
        summary: Lista todos os recursos
        tags:
          - carro
        responses:
          200:
            description: "Informações retornadas com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
    /registro/{id_registro}:
      get:
        summary: Lista todos os recursos
        tags:
          - registro
        parameters:
          - name: id_registro
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Informações retornadas com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
          404:
            description: "Item não encontrado"
      post:
        summary: Cria um novo recurso
        tags:
          - registro
        parameters:
          - name: id_registro
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Recurso criado com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
      put:
        summary: Atualiza informações do recurso
        tags:
          - registro
        parameters:
          - name: id_registro
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Recurso atualizado com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
          404:
            description: "Item não encontrado"
      delete:
        summary: Deleta um recurso
        tags:
          - registro
        parameters:
          - name: id_registro
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Recurso deletado com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
          404:
            description: "Item não encontrado"
    /registro/list/:
      get:
        summary: Lista todos os recursos
        tags:
          - registro
        responses:
          200:
            description: "Informações retornadas com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
    /cdc/{id_cdc}:
      get:
        summary: Retorna dados do recurso
        tags:
          - cdc
        parameters:
          - name: id_cdc
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Informações retornadas com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
          404:
            description: "Item não encontrado"
      post:
        summary: Cria um novo recurso
        tags:
          - cdc
        parameters:
          - name: id_cdc
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Recurso criado com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
      put:
        summary: Atualiza informações sobre um centro de custos
        tags:
          - cdc
        parameters:
          - name: id_cdc
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Recurso atualizado com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
          404:
            description: "Item não encontrado"
      delete:
        summary: Deleta um centro de custos
        tags:
          - cdc
        parameters:
          - name: id_cdc
            in: path
            required: true
            description: Id do recurso
            type: string
        responses:
          200:
            description: "Recurso criado com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
          404:
            description: "Item não encontrado"
    /cdc/list/:
      get:
        summary: Lista todos os recursos
        tags:
          - cdc
        responses:
          200:
            description: "Recurso criado com sucesso"
          400:
            description: "Problemas na requisição"
          401:
            description: "Acesso não autorizado"
  definitions:
    Pet:
      type: "object"
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Pets:
      type: array
      items:
        $ref: '#/definitions/Pet'
    Error:
      type: "object"
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string